section {
  border: 1px solid ghostwhite;
  padding: 1rem;

  header {
    margin-bottom: 1rem;
  }

  .task-create {
    margin: 3rem 0 0.5rem;
    width: 100%;
  }

  .task-edit {
    border: 2px solid #abb6c2;
  }

  .btn {
    padding: 0.2rem 0.2rem;

    .btn-icon {
      padding: 0 0.3rem;
    }
  }

  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;

    strong {
      border: none;
    }
  }
}

